<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<br>
			<h2><%= action == "create" ? "Add" : "Edit" %> Service</h2>
			<br>
				<%= form_for @service, url: {action: action}, html: {class: "form"} do |f| %>
				  <div class="form-group">
					  <%= f.label :name %>
					  <%= f.text_field :name, class: "form-control" %>
				  </div>
				  <div class="form-group">
					  <%= f.label :description %>
					  <%= f.text_area :description, class: "form-control" %>
				  </div>
				  <div class="form-group">
				  	<%= f.submit action.titleize, class: "btn-success form-control" %>
				  </div>
				<% end %>
		</div>
	</div>
</div>