<div class="container-fluid" style="padding-top: 1.5%">
	<div class="row">
		<div class="col-md-12">
			<h5>Services &nbsp; <a href="<%= new_service_url %>" class="btn btn-success btn-sm">+ Add</a></h5>
			<%= render partial: "shared/search", locals: {search_by: "Search Service"} %>
			<% if @services.present? %>
			<br>
			<table class="table table-stripped">
				<tr>
					<th></th>
					<th>Name</th>
					<th width="60%">Description</th>
					<th>Options</th>
				</tr>
				<% 	cnt = 0
						@services.each do |service| %>
					<tr>
						<td><%= cnt+= 1 %></td>
            <td><%= service.name %></td>
            <td><%= service.description %></td>
            <td>
              <a href="<%= service_url(service) %>" class="btn btn-success btn-sm"><%= fa_icon "eye" %> View</a>
              <a href="<%= edit_service_url(service) %>" class="btn btn-primary btn-sm"> <%= fa_icon "pencil" %> Edit</a>
							<%= link_to('Delete', service_url(service), method: :delete, class: "btn btn-danger btn-sm") %>
            </td>
					</tr>
				<% end %>
			</table>
			<%= paginate @services %>
			<% else %>
				<center><h5>No Service Registered</h5></center>
			<% end %>
		</div>
	</div>
</div>