<br>
<a href="<%= services_url %>" class="btn btn-danger btn-sm"> < Back </a>
<br><br>
<h5>Service Information</h5>
<table class="table table-hover">
    <tr>
        <td width="15%"><b>Name</b></td>
        <td><%= @service.name %></td>
    </tr>
    <tr>
        <td><b>Description</b></td>
        <td><%= @service.description %>
    </tr>
</table>

<br>
<h5>Paper Types &nbsp; <a href="<%= new_services_paper_url(@service) %>" class="btn btn-success btn-sm">New Paper Type</a></h5>
<% papers = @service.papers %>
<% if papers.present? %>
<table class="table table-hover">
    <tr>
      <td>#</td>
      <td>Size</td>
      <td>Type</td>
      <td>Colour</td>
      <td>Unit</td>
      <td>Price</td>
      <td>Options</td>
    </tr>
    <% cnt = 0 
      papers.order("created_at DESC").each do |paper| %>
    <tr>
      <td><%= cnt += 1%></td>
      <td><%= paper.size %></td>
      <td><%= paper.ptype %></td>
      <td><%= paper.color %></td>
      <td><%= paper.unit %></td>
      <td><%= "#{paper.currency}#{paper.price}" %></td>
      <td>
        <a href="<%= edit_services_paper_url(@service,pid: paper) %>" class="btn btn-primary btn-sm"> <%= fa_icon "pencil" %> Edit</a>
        <%= link_to('Delete', services_paper_url(@service, pid: paper), method: :delete, class: "btn btn-danger btn-sm") %>
      </td>
    </tr>
    <% end %>
</table>
<% else %>
    <center><h4>No Paper assigned to service.</h4></center>
<% end %>