<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<br>
			<h2><%= action.titleize %> Paper</h2>
			<br>
				<%= form_for @paper, url: {action: action}, html: {class: "form"} do |f| %>
					<input type="hidden" name="pid" value="<%= params[:pid] %>">
				  <div class="form-group">
					  <%= f.label :size %>
					  <%= f.text_field :size, class: "form-control" %>
				  </div>
				  <div class="form-group">
					  <label for="ptype">Paper Type</label>
					  <%= f.text_field :ptype, class: "form-control" %>
				  </div>
				  <div class="form-group">
					  <%= f.label :color %>
					  <%= f.text_field :color, class: "form-control" %>
				  </div>
				  <div class="form-group">
					  <%= f.label :unit %>
					  <%= f.text_field :unit, class: "form-control" %>
				  </div>
				  <div class="form-group">
					  <%= f.label :currency %>
					  <%= f.text_field :currency, class: "form-control" %>
				  </div>
				  <div class="form-group">
					  <%= f.label :price %>
					  <%= f.text_field :price, class: "form-control" %>
				  </div>
				  <div class="form-group">
				  	<%= f.submit action.titleize, class: "btn-success form-control" %>
				  </div>
				<% end %>
		</div>
	</div>
</div>