<div class="row">
	<div class="col-md-8"></div>
	<div class="col-md-4">
		<%= form_tag presses_path, method: :get %>
			<div class="row">
				<div class="col-md-8">
					<input type="text" placeholder="Search" name="q" class="form-control" value="<%= params[:q] %>">
				</div>
				<div class="col-md-4">
					<input type="submit" class="btn btn-success btn-block" value="Search" />
				</div>
			</div>
		</form>
	</div>
</div>