<div class="container-fluid" style="padding-top: 3%">
<div class="row">
<div class="col-md-2">
	<%= render partial: "shared/filter", locals: {title: "Presses"} %>
</div>
<div class="col-md-10">
<%= render partial: "search" %>

<div>
Export CSV <br>
<a class="btn btn-primary" href="<%= export_csv_transactions_url(@filter) %>"><%= fa_icon "save" %></a>
</div>
<table class="table table-responsive table-stripped">
<tr>
	<th>Unique ID</th>
	<th>Name</th>
	<th>Location</th>
	<th width="5%">Active</th>
	<th width="5%">Verified</th>
	<th width="5%">Approved</th>
	<th>Date Registered</th>
</tr>
<% if @presses.present? %>
<% @presses.each do |press| %>
<tr>
	<td><a href="<%= press_url(press) %>"><%= press.uid %></a></td>
	<td><a href="<%= press_url(press) %>"><%= press.name %></a></td>
	<td><%= press.location_address %></td>
	<td>
		<%= render partial: "toggle", locals: {press: press, attribute: "active"} %>
	</td>
	<td>
		<%= render partial: "toggle", locals: {press: press, attribute: "verified"} %>
	</td>
  <td>
  	<%= render partial: "toggle", locals: {press: press, attribute: "approved"} %>
  </td>
	<td><%= press.created_at.strftime("%d-%b-%Y %H:%M:%S") %></td>
</tr>
<% end %>
<% else %>
<tr>
	<td colspan="5">
		<center>No transactions available.</center>
	</td>
</tr>
<% end %>
</table>
<% if @transactions.present? %>
	<center>
		<%= paginate @transactions %>
	</center>
<% end %>
</div>
</div>
</div>

