<br>
<div class="container-fluid">
	<div class="row">
	<div class="col-md-2">
		<a href="<%= presses_url %>" class="btn btn-danger btn-sm btn-block">Back</a><br>
<% if @press.present? %>
		<a href="<%= press_url(@press) %>" class="btn btn-default btn-block">Press Information</a><br>
		<a href="<%= inventory_press_url(@press) %>" class="btn btn-default btn-block">Manage Inventory</a><br>
		<a href="<%= metrics_press_url(@press) %>" class="btn btn-default btn-block">Performance Metrics</a>
	</div>
	<div class="col-md-10">
	<br>
<% else %>
	</div>
	<div class="col-md-10">
  	<center><h4>Press not found.</h4></center>
	<br>
<% end %>
</div>
</div></div>