<br>
<div class="container-fluid">
	<div class="row">
	<div class="col-md-2">
		<a href="<%= presses_url %>" class="btn btn-danger btn-sm btn-block">Back</a><br>
		<a href="<%= press_url(@press) %>" class="btn btn-default btn-block">Press Information</a><br>
		<a href="<%= inventory_press_url(@press) %>" class="btn btn-default btn-block">Manage Inventory</a><br>
		<a href="<%= metrics_press_url(@press) %>" class="btn btn-default btn-block">Performance Metrics</a>
	</div>
	<div class="col-md-10">
	<div class="row">
		<div class="col-md-2">
			
		</div>
	</div>
	<br>
<% if @press.present? %>
	<h5>BASIC INFORMATION - <%= @press.uid %></h5>
	<hr>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label for="name">Company name</label>
				<input type="text" value="<%= @press.name %>" class="form-control" disabled />
			</div>
			<div class="form-group">
				<label for="country">Unique ID</label>
				<input type="text" value="<%= @press.uid %>" class="form-control" disabled />
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="country">Country</label>
				<input type="text" value="<%= @press.country.name %>" class="form-control" disabled />
			</div>

			<div class="form-group">
				<label for="msisdn">Registration Telephone</label>
				<input type="text" value="<%= @press.msisdn %>" class="form-control" disabled />
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="registration_date">Registration Date</label>
				<input type="text" value="<%= @press.created_at.strftime('%d-%m-%Y %H:%M:%S') %>" class="form-control" disabled />
			</div>
		</div>
	</div>

	<h5>OTHER DETAILS</h5>
	<hr>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label for="about_us">About Us</label>
				<textarea disabled class="form-control" id="about_us"><%= @press.info %></textarea>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="location_address">Location Address</label>
				<textarea disabled class="form-control" id="location_address"><%= @press.location_address %></textarea>
			</div>
			<div class="form-group">
				<label for="telephone">Office Telephone</label>
				<input type="text" value="<%= @press.telephone %>" class="form-control" disabled />
			</div>
			<div class="form-group">
				<label for="registration_date">Registration Date</label>
				<input type="text" value="<%= @press.created_at.strftime('%d-%m-%Y %H:%M:%S') %>" class="form-control" disabled />
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="is_active">Is Active</label>
				<input type="text" value="<%= @press.is_active ? 'Yes' : 'No' %>" class="form-control" disabled id="is_active" />
			</div>
			<div class="form-group">
				<label for="is_verified">Is Verified</label>
				<input type="text" value="<%= @press.is_verified ? 'Yes' : 'No' %>" class="form-control" disabled id="is_verified" />
			</div>
			<div class="form-group">
				<label for="is_approved">Is Approved</label>
				<input type="text" value="<%= @press.is_approved ? 'Yes' : 'No' %>" class="form-control" disabled id="is_approved" />
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<h5>LOCATION PICTURE</h5>
			<hr>
			<%= image_tag "launcher.png" %>
		</div>
		<div class="col-md-4">
			<h5>MANAGER PICTURE</h5>
			<hr>
			<%= image_tag "launcher.png" %>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-12">
			<h5>GEO LOCATION</h5>
			<hr>
			<%= image_tag "launcher.png" %>
		</div>
	</div>
<% else %>
	<center><h4>Press not found.</h4></center>
<% end %>
</div>
</div></div>