<div class="row justify-content-center">
<div class="col-md-3 login">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "ui large form"}) do |f| %>
    <div class="form-group">
      <center><%= image_tag "circuit.png", width: "50%" %></center>
    </div>
    <h4>
      <center><small style="color:#a8a8a8">LOGIN</small></center>
    </h4>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true,class: 'form-control', placeholder: "E-mail address" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Password" %>
    </div>
    <div class="form-group">
      <%= f.submit "Log in", class: "btn btn-outline-primary btn-block" %>
    </div>
  <% end %>

  <div class="ui message">
    <%= render "users/shared/links" %>
  </div>
</div>

</div>