<br>
<center><h3>Revenue For Last 30 days</h3></center>
<br>
<% data = {
  labels: ["January", "February", "March", "April", "May", "June", "July"],
  datasets: [
    {
        label: "Complete Orders",
        border_color: "rgba(220,220,220,1)",
        data: [65, 59, 80, 81, 56, 55, 40]
    },
    {
        label: "Pending Orders",
        border_color: "rgba(151,187,205,1)",
        data: [28, 48, 40, 19, 86, 27, 90]
    },
    {
        label: "Rejected Orders",
        border_color: "rgba(151,187,205,1)",
        data: [8, 18, 50, 19, 80, 23, 90]
    }
  ]
}
options = {height: 150}
%>
<%= line_chart data, options %>
