	<center>
		<h3><b><%= title.upcase %></b></h3>
		<%= image_tag "circuit.png", style: "width:50%" %>
		<br>
	</center>
	<br/><br/>
	<form class="filter_form">
		<div class="form-group">
			<label for="status">Date Range</label>
			<input type="text" class="form-control datetimepicker" placeholder="From" name="from" value="<%= params[:from] %>" />
		</div>
		<div class="form-group">
			<input type="text" class="form-control datetimepicker" placeholder="To" name="to" value="<%= params[:to] %>" />
		</div>
		<div class="form-group">
			<label for="status">View</label>
			<select class="form-control" name="view_status">
				<%= options_for_select([["All","all"],["New","new_orders"],["Attended","attended"]],selected: params[:view_status] || "") %>
			</select>
		</div>
		<div class="form-group">
			<label for="status">Order Status</label>
			<select class="form-control" name="status">
				<%= options_for_select([["All","all"],["Paid","paid"],["Failed","failed"]],selected: params[:status] || "") %>
			</select>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary btn-block" value="FILTER" />
		</div>
	</form>


<script type="text/javascript">
$(document).ready(function(){
  $('.datetimepicker').datetimepicker({
    format: "YYYY-MM-DD hh:mm A",
    sideBySide: true,
    calendarWeeks: true
  });
})
</script>