<div class="card" style="width: 20rem; margin: 10px;">
	<center><%= image_tag "#{provider[:name]}.png", alt: "#{provider[:name].upcase} Logo", class: "card-img-top", style: "width:80%; height: 250px; margin:10px;" %></center>
  <div class="card-body">
  	<center>
	  	<!-- <h3>
	  		<small style="font-size: 16px;">GHS</small>
	  		<%= number_with_delimiter(provider[:today_transactions]) %>
	  	</h3>
	    <p class="card-text"><b>TODAY'S TRANSACTIONS</b></p> -->
	    <h3>
	    	<small style="font-size: 16px;">GHS</small>
	    	<%= number_with_delimiter(provider[:current_balance]) %>
	    </h3>
	    <p class="card-text"><b>CURRENT BALANCE</b></p>
    	<a href="<%= transactions_url(provider: provider[:name]) %>" class="btn btn-outline-primary btn-block">VIEW</a>
    </center>
  </div>
</div>