<div class="container" style="padding-top: 50px">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<h3>PROFILE SETTINGS</h3><br>
			<div class="alert alert-primary" role="alert">
			  Basic Profile Information
			</div>
			<%= form_tag setting_path(current_user), method: :put %>
				<div class="form-group row">
					<label for="first_name" class="col-md-3">First Name</label>
					<input type="text" class="form-control col-md-8" name="first_name" value="<%= @user.first_name %>" />
				</div>
				<div class="form-group row">
					<label for="last_name" class="col-md-3">Last Name</label>
					<input type="text" class="form-control col-md-8" name="last_name" value="<%= @user.last_name %>" />
				</div>
				<div class="form-group row">
					<label for="email" class="col-md-3">Email</label>
					<input type="email" class="form-control col-md-8" name="email" value="<%= @user.email %>" />
				</div>
				<div class="form-group row">
					<div class="col-md-3"></div>
					<input type="submit" value="Update Profile" class="btn btn-success btn-block col-md-8" />
				</div>
			</form>
			<br><br>
			<br><br>
			<div class="alert alert-primary" role="alert">
			  Password Settings
			</div>
			<%= form_tag password_settings_url, method: :put %>
				<div class="form-group row">
					<input type="hidden" name="user[email]" value="<%= current_user.email %>" />
					<label for="current_password" class="col-md-3">Current Password</label>
					<input type="password" class="form-control col-md-8" name="current_password" />
				</div>
				<div class="form-group row">
					<label for="new_password" class="col-md-3">New Password</label>
					<input type="password" class="form-control col-md-8" name="password" id="password" />
				</div>
				<div class="form-group row">
					<label for="confirm_password" class="col-md-3">Confirm Password</label>
					<input type="password" class="form-control col-md-8" name="password_confirmation" id="conf_password" />
				</div>
				<div class="form-group row">
					<div class="col-md-3"></div>
					<input type="submit" value="Change Password" class="btn btn-success btn-block col-md-8" />
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
  var password = document.getElementById("password")
  , confirm_password = document.getElementById("conf_password");

  function validatePassword(){
    if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
</script>