<div class="container-fluid" style="padding-top: 3%">
	<div class="row">
		<div class="col-md-12">
			<h3>LIST OF CUSTOMERS</h3>
			<%= render partial: "shared/search", locals: {search_by: "Search Customer Name / Telephone / UID"} %>
			<br>
			<% if @customers.present? %>
			<table class="table table-stripped">
				<tr>
					<th>Unique ID</th>
					<th>Full Name</th>
					<th>Telephone</th>
					<th>Country</th>
					<th>Date Registered</th>
				</tr>
				<% 	cnt = 0
					@customers.each do |customer| %>
				<tr>
					<td><a href="<%= customer_path(customer) %>"><%= customer.uid %></a></td>
					<td><a href="<%= customer_path(customer) %>"><%= customer.full_name %></a></td>
					<td><%= customer.msisdn %></td>
					<td><%= customer.country.name %></td>
					<td><%= customer.created_at.strftime("%d-%m-%Y") %></td>
				</tr>
				<% end %>
			</table>
			<%= paginate @customers %>
			<% else %>
			<center><h5>No customer present</h5></center>
			<% end %>
		</div>
	</div>
</div>