<br>
<a href="<%= customers_url %>" class="btn btn-danger btn-sm"> < Back </a>
<br><br>
<h3>Customer Details</h3>
<br>
<h5>Account Information</h5>
<table class="table table-hover">
    <tr>
        <td width="15%">Currency</td>
        <td><%= @customer.account.currency %></td>
    </tr>
    <tr>
        <td width="15%">Balance</td>
        <td><%= @customer.account.balance.to_f %></td>
    </tr>
</table>
<br>
<h5>Personal Information</h5>
<table class="table table-hover">
    <tr>
        <td width="15%"></td>
        <td><img src="https://s3.amazonaws.com/peipadbapp/<%= @customer.ppt_pic %>" width="250px" alt="Profile Picture" /></td>
    </tr>
    <tr>
        <td width="15%">Name</td>
        <td><%= @customer.full_name %></td>
    </tr>
    <tr>
        <td>UID</td>
        <td><%= @customer.uid %>
    </tr>
    <tr>
        <td width="15%">Telephone</td>
        <td><%= @customer.msisdn %>
    </tr>
    <tr>
        <td>Location Address</td>
        <td><%= @customer.location_address %>
    </tr>
    <tr>
        <td>Country</td>
        <td><%= @customer.country.name %>
    </tr>
    <tr>
        <td>Email</td>
        <td><%= @customer.email %>
    </tr>
</table>

<br>
<h5>Recent Orders (Last 5 Orders)</h5>
<% orders = @customer.orders.order("created_at DESC").last(5) %>
<% if orders.present? %>
<a href="<%= orders_url(cid: @customer.id) %>">View All Orders</a>
<table class="table table-hover">
    <tr>
        <td width="15%">UID</td>
        <td>Status</td>
        <td>Date Created </td>
    </tr>
    <% orders.each do |order| %>
    <tr>
        <td width="15%"><%= order.uid %></td>
        <td><%= order.state %></td>
        <td><%= order.created_at.strftime('%d %B, %Y') %></td>
    </tr>
    <% end %>
</table>
<% else %>
    <center><h4>Customer has not ordered yet.</h4></center>
<% end %>