<div class="container-fluid" style="padding-top: 1.5%">
	<div class="row">
		<div class="col-md-12">
			<p>Order Status</p>
			<a href="<%= orders_url %>" class="btn btn-success">All</a>
			<a href="<%= orders_url(v_stat: 'new') %>" class="btn btn-success">New</a>
			<a href="<%= orders_url(v_stat: 'viewed') %>" class="btn btn-success">Viewed</a>
			
			<%= render partial: "shared/search", locals: {search_by: "Search Order UID"} %>
			<% if @orders.present? %>
			<br>
			<table class="table table-stripped">
				<tr>
					<th></th>
					<th>Unique ID</th>
					<th>Customer Name</th>
					<th>Service</th>
					<th>No of Sheets</th>
					<th>Cost</th>
					<th>Print Details</th>
					<th>Copy Details</th>
					<th>Status</th>
					<th>Deliver</th>
					<th>Date Created</th>
					<th>Options</th>
				</tr>
				<%= render partial: "orders/partials/order_list", locals: {is_viewed: false} %>
				<%= render partial: "orders/partials/order_list", locals: {is_viewed: true} %>
			</table>
			<%= paginate @orders %>
			<% else %>
				<center><h5>No Order present</h5></center>
			<% end %>
		</div>
	</div>
</div>