<br>
<a href="<%= orders_url %>" class="btn btn-danger btn-sm"> < Back </a><br><br>
<h2>Order details - <%= @order.uid %></h2>
<table class="table table-stripped">
    <tr>
        <td width="20%">Service</td>
        <td><%= @order.specs["service_type"].try(:upcase) %></td>
    </tr>
    <tr>
        <td width="20%">Status</td>
        <td><%= @order.state.titleize %></td>
    </tr>
    <tr>
        <td width="20%">Customer Name</td>
        <td><%= @order.customer.full_name %></td>
    </tr>
    <tr>
        <td>Customer Telephone</td>
        <td><%= @order.customer.msisdn %></td>
    </tr>
    <tr>
        <td>Order Cost</td>
        <td>GHS<%= @order.amount %></td>
    </tr>
    <tr>
        <td>Number of Sheets</td>
        <td><%= @order.no_of_sheets %></td>
    </tr>
    <tr>
        <% order_specs = @order.specs %>
        <td>Print Details</td>
        <td>
            <b>Paper Type: </b> <%= order_specs["paper_type"]["ptype"] %><br>
            <b>Paper Size: </b> <%= order_specs["paper_type"]["size"] %><br>
            <b>Print Colour: </b> <%= order_specs["paper_type"]["color"] %>
        </td>
    </tr>
    <tr>
        <td>Copy Details</td>
        <td>
            <% if order_specs["make_copies"]
                copy_specs = order_specs["copy_paper_type"] %>
                <b>Make Copies: </b> YES <br>
                <b>Number of Copies: </b> <%= order_specs["no_of_copies"] %><br>
                <b>Paper Type: </b> <%= copy_specs["ptype"] %><br>
                <b>Paper Size: </b> <%= copy_specs["size"] %><br>
                <b>Print Colour: </b> <%= copy_specs["color"] %>
            <% else %>
                <b>Make Copies: </b> NO <br>
            <% end %>
        </td>
    </tr>
    <tr>
        <td>Additional Comment</td>
        <td>
            <%= order_specs["additional_info"] %>
        </td>
    </tr>
    <tr>
        <td>Delivery Information</td>
        <td>
                <b>Deliver Order: </b> <%= @order.delivery.location.present? ? "Yes" : "No" %> <br>
            <% if @order.delivery.location.present? %>
                <% delivery = @order.delivery%>
                <b>Location :</b><br><textarea class="form-control"><%= delivery.location %></textarea><br>
                <b>Rannar Assigned :</b> <%= delivery.runner.try(:full_name) %><br>
            <% end %>
        </td>
    </tr>
    <tr>
        <td>Options</td>
        <td>
        <% order = @order %>
            <% if order.confirmed? %>
            <%= link_to '<i class="fa fa-check btn btn-success">Complete Order</i>'.html_safe, status_order_path(id: order, state: 'complete',view_status: params[:view_status]), title: "Complete Order", class: 'show_loader', method: :post %>
            <%= link_to '<i class="fa fa-times btn btn-warning">Reject Order</i>'.html_safe, status_order_path(id: order, state: 'rejected',view_status: params[:view_status]), title: "Reject Order", class: 'show_loader', method: :post %>
            <% end %>
            <a title="Download order" href="<%= download_order_path(order) %>"><i class="fa fa-download btn btn-success"> Download Order</i></a>
        </td>
    </tr>
</table>