<% 	@orders.where(is_viewed: is_viewed).each do |order| %>
  <tr>
    <td>
      <% unless order.is_viewed? %>
        <span class="badge badge-success">NEW</span>
      <% end %>
    </td>
    <td><a href="<%= order_path(order) %>"><%= order.uid %></a></td>
    <td><a href="<%= customer_path(order.customer) %>"><%= order.customer.full_name %><br>
      <%= order.customer.msisdn %></a></td>
    <% order_specs = order.specs %>
    <td><%= order_specs["service_type"] %></td>
    <td><%= order.no_of_sheets %></td>
    <td><%= "#{order.amount.currency.code}#{order.amount.to_f}" %></td>
    <td>
      <b>Paper Type: </b> <%= order_specs["paper_type"]["ptype"] %><br>
      <b>Paper Size: </b> <%= order_specs["paper_type"]["size"] %><br>
      <b>Print Colour: </b> <%= color_format(order_specs["paper_type"]["color"]) %>
    </td>
    <td>
      <% if order_specs["make_copies"]
        copy_specs = order_specs["copy_paper_type"] %>
        <b>Make Copies: </b> YES <br>
        <b>Number of Copies: </b> <%= order_specs["no_of_copies"] %><br>
        <b>Paper Type: </b> <%= copy_specs["ptype"] %><br>
        <b>Paper Size: </b> <%= copy_specs["size"] %><br>
        <b>Print Colour: </b> <%= color_format(copy_specs["color"]) %>
      <% else %>
        <b>Make Copies: </b> NO <br>
      <% end %>
    </td>
    <td><%= order.state.titleize %></td>
    <td><center><%= order.delivery.location.present? ? "<span class='badge badge-success'>Yes</span>".html_safe : "<span class='badge badge-danger'>No</span>".html_safe %></center></td>
    <td><%= order.created_at.strftime("%d-%m-%Y %H:%M:%S") %></td>
    <td>
      <% if order.confirmed? %>
        <%= link_to '<i class="fa fa-check btn btn-success"></i>'.html_safe, status_order_path(id: order, state: 'complete',view_status: params[:view_status]), title: "Complete Order", class: 'show_loader', method: :post %>
        <%= link_to '<i class="fa fa-times btn btn-warning"></i>'.html_safe, status_order_path(id: order, state: 'rejected',view_status: params[:view_status]), title: "Reject Order", class: 'show_loader', method: :post %>
      <% end %>
      <% if order.pending? %>
        <%= link_to '<i class="fa fa-times btn btn-warning"></i>'.html_safe, status_order_path(id: order, state: 'rejected',view_status: params[:view_status]), title: "Reject Order", class: 'show_loader', method: :post %>
      <% end %>
      <a title="Download order" href="<%= download_order_path(order) %>"><i class="fa fa-download btn btn-success"></i></a>
    </td>
  </tr>
<% end %>