<div class="row justify-content-center">
<div class="col-md-3 login">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="form-group">
      <center><%= image_tag "circuit.png" %></center>
    </div>
    <h4>
      TransPage | <small style="color:#a8a8a8">FORGOT YOUR PASSWORD</small>
    </h4>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true,class: 'form-control', placeholder: "E-mail address" %>
    </div>
    <div class="form-group">
      <%= f.submit "Send me reset password instructions", class: "btn btn-outline-primary btn-block" %>
    </div>
  <% end %>

  <div class="ui message">
    <%= render "users/shared/links" %>
  </div>
</div>

</div>