<%= form_tag toggle_press_path(press), method: :put %>
	<input type="hidden" name="attribute" value="approved" />
	<% if press.is_approved %>
		<input type="hidden" name="value" value="yes" />
		<input type="submit" value="Yes" class="btn btn-success btn-sm btn-block" />
	<% else %>
		<input type="hidden" name="value" value="no" />
		<input type="submit" value="No" class="btn btn-danger btn-sm btn-block" />
	<% end %>
</form>