<div class="container-fluid" style="padding-top: 3%">
<div class="row">
<div class="col-md-2">
	<%= render partial: "shared/filter", locals: {title: "Countries"} %>
</div>
<div class="col-md-10">
<br>
<div class="menu">
Export CSV <br>
<a class="btn btn-primary" href="<%= export_csv_transactions_url(@filter) %>"><%= fa_icon "save" %></a>
</div>
<table class="table table-responsive table-stripped">
<tr>
	<th>#</th>
	<th>Name</th>
	<th><center>Customers</center></th>
	<th><center>Presses</center></th>
	<th><center>Orders</center></th>
</tr>
<% if @countries.present? %>
<% @countries.each do |country| %>
<tr>
	<td><%= country.id %></td>
	<td><a href="<%= country_url(country) %>"><%= country.name %></a></td>
	<td><center><%= country.customers.count %></center></td>
	<td><center><%= country.presses.count %></center></td>
	<td><center><%= country.orders.count %></center></td>
</tr>
<% end %>
<% else %>
<tr>
	<td colspan="7">
		<center>No countries available.</center>
	</td>
</tr>
<% end %>
</table>
<% if @countries.present? %>
	<center>
		<% paginate @countries %>
	</center>
<% end %>
</div>
</div>
</div>
