/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require gritter
 *= require font-awesome
 *= require_self
 */

.login{
  position:absolute;
  top:50%;
  left:50%;
  padding:20px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border-bottom-right-radius: 20px;
}

.login input[type='email'],.login input[type='password']{
	font-size: 14px;
	padding: 10px 15px;
}

body {
  font-size: 14px !important;
  font-family: Raleway;
}

.topbar{
  height: 30px;
  padding: 5px;
  background: #2c3e50;
}

.topbar *{
  color: #fff;
  text-decoration: none;
  float: right;
  margin-left: 30px;
  margin-right: 20px;
}

.topbar *:hover{
  color: #f8f8f8;
  cursor: pointer;
  text-decoration: none;
}


.filter_form{
  font-size: 13px;
}

.filter_form input[type="text"],.filter_form select, .filter_form input[type="submit"]{
  font-size: 13px;
  padding: 10px 10px;
  border-radius: 0px;
}

.content{
  height:100vh;
  background: #fff;
}

.menu{
  float: right;
  margin-top: -40px;
  margin-bottom: 15px;
}

.menu *{
  float:right;
  margin-right: 10px;
}

.summary > div.tablet{
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  box-radius: 10px;
  background: #8a8a8a;
}

.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}

.voucher{
  border: 2px solid #8a8a8a;
  border-radius: 8px;
  padding: 24px;
  margin: 14px 14px;

}

.voucher img{
  width: 120px;
}

.voucher > .amount{
  float: right;
}

.voucher > .amount h2{
  font-weight: bolder;
  font-size: 48px;
}

.digits {
  margin-top: 30px;
  margin-bottom: 0px;
}