@font-face {
    font-family: Lato;
    src:  font-url('lato.ttf');
}


@font-face {
    font-family: Raleway;
    src:  font-url('raleway.ttf');
}


@font-face {
    font-family: Comfortaa;
    src:  font-url('comfortaa.ttf');
}

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.7); /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}


#status_preloader {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}
