<div class="container-fluid" style="padding-top: 3%">
<div class="row">
<div class="col-md-2">
	<%= render partial: "shared/filter", locals: {title: "Transactions"}  %>
</div>
<div class="col-md-10">
<br>
<div class="menu">
Export CSV <br>
<a class="btn btn-primary" href="<%= export_csv_transactions_url(@filter) %>"><%= fa_icon "save" %></a>
</div>
<table class="table table-responsive table-hover">
<tr>
	<th>#</th>
	<th>Amount</th>
	<th>Service</th>
  <th>Remarks</th>
	<th>Transaction Type</th>
	<th>Date</th>
	<th>Time</th>
</tr>
<% if @transactions.present? %>
<% @transactions.each do |transaction| %>
<tr>
  <td><%= transaction.id %></td>
	<td><%= transaction.amount %></td>
	<td><%= transaction.service.titleize %></td>
  <td><%= transaction.remarks %></td>
	<td><%= transaction.transaction_type %></td>
	<td><%= transaction.created_at.strftime("%d-%b-%Y") %></td>
	<td><%= transaction.created_at.strftime("%H:%M:%S") %></td>
</tr>
<% end %>
<% else %>
<tr>
	<td colspan="7">
		<center>No transactions available.</center>
	</td>
</tr>
<% end %>
</table>
<% if @transactions.present? %>
	<center>
		<%= paginate @transactions %>
	</center>
<% end %>
</div>
</div>
</div>
