<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<br>
			<h2><%= action == "create" ? "Add" : "Edit" %> Rannar</h2>
			<br>
				<%= form_for @rannar, url: {action: action}, html: {class: "form"} do |f| %>
				  <div class="form-group">
					  <%= f.label :name %>
					  <%= f.text_field :name, class: "form-control" %>
				  </div>
          <div class="form-group">
					  <%= f.label :email %>
					  <%= f.text_field :email, class: "form-control" %>
				  </div>
          <div class="form-group">
            <label for="msisdn">Telephone</label>
					  <%= f.text_field :msisdn, class: "form-control" %>
				  </div>
          <div class="form-group">
            <label for="password">PIN Code</label>
					  <%= f.password_field :password, class: "form-control" %>
				  </div>
				  <div class="form-group">
					  <%= f.label :location_address %>
					  <%= f.text_area :location_address, class: "form-control" %>
				  </div>
          <!-- work on ranners profile -->
				  <div class="form-group">
				  	<%= f.submit action.titleize, class: "btn-success form-control" %>
				  </div>
				<% end %>
		</div>
	</div>
</div>