<div class="container-fluid" style="padding-top: 1.5%">
	<div class="row">
		<div class="col-md-12">
			<h5>Available Deliveries</h5>
			<%= render partial: "shared/search", locals: {search_by: "Search Delivery Location"} %>
			<% if @deliveries.present? %>
			<br>
			<table class="table table-stripped">
				<tr>
					<th></th>
					<th>Order UID</th>
					<th>Customer Name</th>
					<th>Delivery Location</th>
					<th>Assigned Rannar</th>
          <th>Status</th>
					<th>Options</th>
				</tr>
				<% 	cnt = 0
						@deliveries.each do |delivery| %>
					<tr>
						<td><%= cnt+= 1 %></td>
						<td><%= delivery.order.try(:uid) %></td>
            <td><%= delivery.customer.full_name %></td>
						<td><%= delivery.location %></td>
            <td><%= delivery.runner.try(:name) %></td>
            <td><%= delivery.status.titleize %></td>
            <td>
              <!-- User can either view, assign or delete a delivery-->
							<a href="#" class="btn btn-success btn-sm">View</a>
							<a href="#" class="btn btn-primary btn-sm">Assign</a>
							<a href="#" class="btn btn-danger btn-sm">Delete</a>
						</td>
					</tr>
				<% end %>
			</table>
			<%= paginate @deliveries %>
			<% else %>
				<br>
				<center><h5>No Delivery Available</h5></center>
			<% end %>
		</div>
	</div>
</div>