<div class="container-fluid" style="padding-top: 1.5%">
	<div class="row">
		<div class="col-md-12">
			<h5>Rannars <a href="<%= new_rannar_url %>" class="btn btn-success btn-sm">+ Register</a></h5>
			<%= render partial: "shared/search", locals: {search_by: "Search Rannar Name"} %>
			<% if @rannars.present? %>
			<br>
			<table class="table table-stripped">
				<tr>
					<th></th>
					<th>Name</th>
					<th>Telephone</th>
					<th>Assigned Orders</th>
					<th>Options</th>
				</tr>
				<% 	cnt = 0
						@rannars.each do |rannar| %>
					<tr>
						<td><%= cnt+= 1 %></td>
            <td><%= rannar.name %></td>
						<td><%= rannar.msisdn %></td>
            <td></td>
            <td>
							<a href="#" class="btn btn-success btn-sm">View</a>
							<a href="#" class="btn btn-primary btn-sm">Edit</a>
							<a href="#" class="btn btn-danger btn-sm">Delete</a>
						</td>
					</tr>
				<% end %>
			</table>
			<%= paginate @rannars %>
			<% else %>
				<br>
				<center><h5>No Rannar Registered</h5></center>
			<% end %>
		</div>
	</div>
</div>