<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<br>
			<h2>Create A New Charge</h2>
			<br>
				<%= form_for @charge_spec, url: {action: action}, html: {class: "form"} do |f| %>
					<div class="form-group">
						<label for="country_id">Country</label>
						<%= f.select :country_id, Country.all.map { |country| [country.name, country.id] }, {}, {class: "form-control"}  %>
					</div>		
				  <div class="form-group">
					  <%= f.label :amount %>
					  <%= f.text_field :amount, class: "form-control" %>
				  </div>

				  <div class="form-group">
					  <%= f.label :fee %>
					  <%= f.text_field :fee, class: "form-control" %>
				  </div>

				  <div class="form-group">
				  	<%= f.submit "Create", class: "btn-success form-control" %>
				  </div>
				<% end %>
		</div>
	</div>
</div>