<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br><h4>CHARGES</h4><br>
			<table class="ui table">
				<tr>
					<td width="5%">#</td>
					<td>Amount</td>
					<td>Fee</td>
					<td width="15%">Options</td>
				</tr>
				<% if @charges.present?
					cnt = 0
					@charges.each do |charge| %>
					<tr>
						<td><%= cnt+= 1 %></td>
						<td><%= "#{charge.currency} #{charge.amount.to_f}" %> and above</td>
						<td><%= "#{charge.currency} #{charge.fee.to_f}" %></td>
						<td>
							<a href="<%= edit_charge_url(charge) %>" class="btn btn-success btn-sm">Edit</a> &nbsp; 
							<a href="#" class="btn btn-danger btn-sm">Delete</a>
						</td>
					</tr>
				<% end
					 else %>
				<tr>
					<td colspan="3">
						<center>No charges present</center>
					</td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>