<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Peipa Pro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script type="text/javascript">
    <% if flash.notice %>
        <%= add_gritter(flash.notice, :title => "Notice", :image => :success, :sticky => false, :time => 3000) %>
    <% end %>

    <% if flash.alert %>
        <%= add_gritter(flash.alert, :title => "Warning", :image => :error, :sticky => false, :time => 3000) %>
    <% end %>
    </script>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
