<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Peipa Pro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
    $(document).ready(function(){
      //perform the required ajax and make sure the page is loaded
      $(".show_loader").click(function(){
        showLoader();
      });

      function showLoader(){
        $('#status_preloader').delay(350).fadeIn(1000); // will first fade out the loading animation
        $('#preloader').delay(350).fadeIn(1000); // will fade out the white DIV that covers the website.
      }

      // $('#status_preloader').fadeOut(); // will first fade out the loading animation
      $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
      $('body').delay(350).css({'overflow':'visible'});
  })
  </script>
  </head>

  <body>
    <script type="text/javascript">
    <% if flash.notice %>
        <%= add_gritter(flash.notice, :title => "Notice", :image => :success, :sticky => false, :time => 3000) %>
    <% end %>

    <% if flash.alert %>
        <%= add_gritter(flash.alert, :title => "Warning", :image => :error, :sticky => false, :time => 3000) %>
    <% end %>
    </script>

    <div id="preloader">
      <div id="status_preloader"><img src="<%= image_url('loader.svg') %>" /></div>
    </div>
    <div class="container-fluid content" style="padding: 0px;">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Peipa Pro.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="<%= root_url %>">&nbsp; &nbsp; &nbsp; <%= fa_icon "tachometer" %> Dashboard <span class="sr-only">(current)</span>&nbsp; &nbsp; &nbsp; </a>
            </li>
            <% unless current_user.has_press? %>
              <li class="nav-item">
                <a class="nav-link" href="<%= countries_url %>">&nbsp; &nbsp; &nbsp; <%= fa_icon "globe" %> Countries <span class="sr-only">(current)</span>&nbsp; &nbsp; &nbsp; </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="<%= presses_url %>">&nbsp; &nbsp; &nbsp; <%= fa_icon "building" %> Presses <span class="sr-only">(current)</span>&nbsp; &nbsp; &nbsp; </a>
              </li>
            <% end %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                &nbsp; &nbsp; &nbsp; <%= fa_icon "users" %> Customers &nbsp; &nbsp; &nbsp;
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="<%= customers_path %>">View All</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                &nbsp; &nbsp; &nbsp; <%= fa_icon "car" %> Runners &nbsp; &nbsp; &nbsp;
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="<%= rannars_url %>">View All</a>
                <a class="dropdown-item" href="<%= delivery_rannars_url %>">Available Delivery</a>
              </div>
            </li>
            <% unless current_user.has_press? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  &nbsp; &nbsp; &nbsp; <%= fa_icon "ticket" %> Vouchers &nbsp; &nbsp; &nbsp;
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="<%= vouchers_url %>">View All</a>
                  <a class="dropdown-item" href="<%= new_voucher_url %>">Add Vouchers</a>
                  <a class="dropdown-item" href="<%= print_vouchers_url %>">Print Vouchers</a>
                </div>
              </li>
            <% end %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                &nbsp; &nbsp; &nbsp; <%= fa_icon "reorder" %> Orders &nbsp; &nbsp; &nbsp;
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="<%= orders_url %>">View All</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                &nbsp; &nbsp; &nbsp; <%= fa_icon "reorder" %> Transactions &nbsp; &nbsp; &nbsp;
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="<%= transactions_url %>">View Transactions</a>
              </div>
            </li>
            <% unless current_user.has_press? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                &nbsp; &nbsp; &nbsp; <%= fa_icon "dollar" %> Charges &nbsp; &nbsp; &nbsp;
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="<%= charges_url %>">View Charges</a>
                <a class="dropdown-item" href="<%= new_charge_url %>">Add Charge</a>
              </div>
            </li>
            <% end %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                &nbsp; &nbsp; &nbsp; <%= fa_icon "money" %> Services &nbsp; &nbsp; &nbsp;
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="<%= services_url %>">View Services</a>
                <a class="dropdown-item" href="<%= new_service_url %>">Add Service</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="topbar">
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        <a href="<%= settings_url %>">Profile</a>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <%= yield %>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </body>
</html>
