<!DOCTYPE html>
<html>
<head>
	<title></title>
  <%= stylesheet_link_tag wicked_pdf_asset_base64('bootstrap') %>
  <%= wicked_pdf_stylesheet_link_tag('bootstrap') %>
	<style type="text/css">
  .voucher{
    border: 2px solid #8a8a8a;
    border-radius: 8px;
    padding: 24px;
    margin: 17px 15px;
    height: 220px;
    display: inline;
  }

  .voucher img{
    width: 120px;
  }

  .voucher > .amount{
    float: right;
  }

  .voucher h1{
    font-weight: bolder;
    font-size: 48pt;
    margin-top: -20px;
  }

  .digits {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .row .col-md-3,.row .col-md-6{
    display: inline-block;
  }

  .col-md-3{
    width: 45%
  }

  .col-md-6{
    width: 5%
  }

  p {
    font-size: 10px;
    line-height: 10px;
  }

  .page-break { display:block; clear:both; page-break-after:always; }

  .voucher_code, .voucher_hide{
    border: 2px solid #999;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    word-spacing: 2px;
  }

  .voucher_hide{
    background: #000;
    height: 100px;
  }
</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<% @vouchers.each do |voucher| %>
			<div class="col-md-3 voucher">
				<div class="row">
					<div class="col-md-3">
						<center>
							<%= wicked_pdf_image_tag 'launcher.png', style: "width: 80px;" %>
						</center>
					</div>
					<div class="col-md-3">
						<center>
							<h5><%= voucher.currency %></h5>
							<h1><%= voucher.amount.to_f %></h1>	
						</center>
					</div>
				</div>
				<br>
				<p><b>Peipa Printing and Cloud Services</b><br>
					<b>Enquiries</b> - Dial 0500011722<br>
					<b>Top Up</b> - Goto <b>Account</b> > <b>TopUp</b> > <b>Voucher</b><br>
					Enter <b>xxxx xxxx xxxx xxxx</b> and press <b>Ok</b>
				</p>
			</div>
			<% end %>
		</div>
		<div class="page-break"></div>
		<div class="row">
			<% @vouchers.each do |voucher| %>
			<div class="col-md-3 voucher">
				<div class="row">
					<br>
					<div class="voucher_hide"></div>
				</div>
			</div>
			<% end %>
		</div>
		<div class="page-break"></div>
		<div class="row">
			<% @vouchers.each do |voucher| %>
			<div class="col-md-3 voucher">
				<div class="row">
					<br><br>
					<div class="voucher_code"><%= number_with_delimiter(voucher.number, delimiter: '  ')  %></div>
					<br>
					<p style="width: 100%; text-align: center;"><small>Serial No: </small><b><%= voucher.id %></b></p>
					<br>
					<p style="width: 100%; text-align: center;"><small>Expiry Date: </small><b><%= voucher.expires_at.strftime("%d-%B-%Y") %></b></p>
				</div>
			</div>
			<% voucher.printed! %>
			<% end %>
		</div>
	</div>
</body>
</html>