<div class="container">
	<br><br><br><br>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<center><h2>Generate New Vouchers</h2></center>
			<%= form_tag vouchers_url, method: :post %>
				<div class="form-group">
					<label for="country">Country</label>
					<select class="form-control" id="country" name="country">
						<% @countries.each do |country| %>
							<option value="<%= country.name %>"><%= country.name %></option>
						<% end %>
					</select>
				</div>
				<div class="form-group">
					<label for="value">Voucher Value</label>
					<select class="form-control" id="value" name="value">
						<% @voucher_values.each do |value| %>
							<option value="<%= value %>"><%= value %></option>
						<% end %>
					</select>
				</div>
				<div class="form-group">
					<label for="value">Quantity</label>
					<input type="number" placeholder="0" name="quantity" id="value" class="form-control" required />
				</div>
				<div class="form-group">
					<label for="value">Administrator Password</label>
					<input type="password" name="password" id="value" class="form-control" required />
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-success btn-block" value="Generate Vouchers" />
				</div>
			</form>
		</div>
	</div>
</div>