<div class="container-fluid" style="padding-top: 3%">
	<div class="row">
		<div class="col-md-12">
			<br>
			<div class="menu">
				Menu<br>
				<a class="btn btn-primary btn-sm" href="<%= print_vouchers_url %>">Print Voucher</a>
				<a href="<%= new_voucher_url %>" class="btn btn-success btn-sm">Add Voucher(s)</a>
			</div>
			<form>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<select class="form-control" id="country">
								<option disabled selected>[SELECT COUNTRY]</option>
								<option>Ghana</option>
							</select>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<input type="submit" class="btn btn-block btn-primary form-control" value="Show" />
						</div>
					</div>
				</div>
			</form>
			<div class='row'>
				<% if @voucher_groups.present?
							@voucher_groups.each do |amount,count| %>
					<!-- {[100, true]=>1, [200, false]=>1, [100, false]=>1} -->
					<div class="col-md-3 voucher <%= amount[1] %>">
						<div class="row">
							<div class="col-md-3">
								<center>
									<%= image_tag 'launcher.png' %>
								</center>
							</div>
							<div class="col-md-6"></div>
							<div class="col-md-3">
								<center>
									<h5><%= amount[2] %></h5>
									<h1><%= amount[0] / 10000.00 %></h1>	
								</center>
							</div>
						</div>
						<center>
							<div class="digits btn-block <%= amount[1] ? 'btn btn-danger' : 'btn btn-success' %>">
								<%= count %> Voucher(s) <%= amount[1] ? "Used" : "Remaining" %>
							</div>
						</center>
					</div>
				<% end; end %>
			</div>
		</div>
	</div>
</div>
